body {
    font-family: Arial, sans-serif;
}

header {
    margin-bottom: 20px;
}

.navbar {
    padding: 15px;
}

.nav-link {
    margin-right: 15px;
}

/* Estilo para hacer más pequeño el gráfico */
canvas {
    max-width: 300px;
    max-height: 300px;
}