.profile-image {
    width: 150px; /* Puedes ajustar el tamaño según lo desees */
    height: 150px;
    border-radius: 50%; /* Hace que la imagen sea circular */
    object-fit: cover; /* Asegura que la imagen se ajuste bien al contenedor */
    border: 4px solid #e5e5e5; /* Bordes grises */
}
.hidden {
    display: none;
}
.container {
    position: relative; /* Necesario para el posicionamiento absoluto del botón */
}
.close-button {
    position: absolute; /* Para que se posicione en relación al contenedor */
    top: 20px !important; /* Ajusta según sea necesario */
    right: 20px !important;  /* Alineación a la derecha */
    background-color: transparent; /* Sin fondo */
    border: none; /* Sin borde */
    cursor: pointer; /* Cambiar cursor */
    z-index: 10; /* Para asegurarse de que esté sobre otros elementos */
}

.close-button .fas.fa-times {
    color: red; /* Cambia el color a rojo */
    font-size: 32px; /* Aumenta el tamaño de la "X" */
}



