body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.product-detail-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
}

.image-container img {
    width: 300px;
    height: auto;
    border-radius: 8px;
}

.product-info {
    max-width: 400px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.product-info h1 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.price {
    font-size: 1.5rem;
    color: blue;
    margin-bottom: 10px;
}

.price del {
    color: #888;
    font-size: 1.2rem;
    margin-right: 10px;
}

.discount {
    background-color: #ff9800;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    margin-bottom: 10px;
}

.rating {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.rating-stars {
    color: #ffcc00;
    margin-right: 5px;
}

.color, .material {
    margin: 10px 0;
}

.select-model {
    margin: 15px 0;
}

.select-model select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.buy-container {
    margin-top: 20px;
    display: flex;
    gap: 10px; /* Espacio entre los botones */
}

.buy-container button {
    flex: 1; /* Los botones ocuparán espacio igual */
    padding: 15px;
    background-color: #d32f2f;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
}

.buy-container button:hover {
    background-color: #b71c1c;
}

.buy-container .add-to-cart {
    background-color: #ffa000; /* Color diferente para agregar al carrito */
}

.buy-container .add-to-cart:hover {
    background-color: #ff8f00; /* Hover para agregar al carrito */
}

.buy-container i {
    margin-right: 8px; /* Espacio entre el ícono y el texto */
}

@media (max-width: 768px) {
    .card {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .card img {
        max-width: 80%;
        margin-bottom: 20px;
    }

    .buy-button {
        width: 100%;
        padding: 15px;
        font-size: 1.2em;
    }
}